.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}
.container h1 {
  margin: 20px 0;
  font-size: 1.9rem;
}
.wrapper {
  margin: 20px 0;
  width: 600px;
  background-color: rgb(47, 47, 47);
  padding: 20px;
  border-radius: 10px;
}

.compCont {
  margin: 20px 0;
}
.container h1 {
  font-size: 2.5rem;
}
.container .btn {
  margin: 20px 0;
  text-transform: uppercase;
}
.compLogo {
  background-color: white;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.compLogo:hover {
  transform: scale(1.5);
  border-radius: 10px;
}

.singleCon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: linear-gradient(to right, rgb(168, 19, 62), rgb(0, 77, 152));
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgb(255, 237, 2);
}
.live {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: linear-gradient(to right, rgb(168, 123, 19), rgb(0, 152, 66));
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgb(255, 237, 2);
}
.singleCon h3,
.live h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 20px;
}
.singleCon span,
.live span {
  color: rgb(237, 187, 0);
  font-size: 2rem;
  /* padding: 0 20px; */
}
.wrapper {
  width: 700;
}
.container h2 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}
.singleCon img,
.live img {
  transition: transform 0.2s ease-in-out;
}
.singleCon img:hover,
.live img:hover {
  transform: scale(1.5);
}
.dot {
  font-size: 0.9rem !important;
}
.auto {
  background-color: rgb(18, 157, 27);
}
.btnCont {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 640px) {
  .wrapper {
    width: 500px;
  }
  .container h2 {
    font-size: 1rem;
  }
  .singleCon h3,
  .live h3 {
    font-size: 0.8rem;
  }
}
